*.user
.classpath
.eclipse/
.idea
.project
.revision/
.settings/
build/
out
src/c/generated/
src/dotnet/generated/
src/dotnet/ZooKeeperNet/_Reshaper
src/dotnet/ZooKeeperNet/bin
src/dotnet/ZooKeeperNet/Generated/*.cs
src/dotnet/ZooKeeperNet/obj
src/java/*.iml
src/java/.idea
src/java/generated/
src/java/lib/ant-eclipse-*
src/java/lib/ivy-*
src/java/out
